<a href="{{ path( "ez_urlalias", { 'locationId': content.contentInfo.mainLocationId } ) }}" target="_self">
    <p>{{ ez_render_field( content, 'civilite') }}{{ ez_render_field( content, 'name') }}</p>
</a>